.table_ {
    position: relative;
    width: 1160px;
    height: 1685px;
    border: 1px solid black;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .osh {
    border-right: none !important;
  }
  
  *, ::before, ::after {
    box-sizing: content-box !important;
  }
  
  .razm {
    font-weight: 500;
    margin-top: -50px;
    margin-left: 140px;
    font-size: 14px;
    display: inline-block;
  }
  
  span {
    font-size: 12.5px;
    font-weight: 500;
    margin: 6px;
    display: inline-block;
  }
  
  .div {
    border: 1px solid;
    position: absolute;
  }
  
  body {
    font-family: Arial;
  }
  
  .header {
    top: 0;
    left: 0;
    width: 793px;
    height: 60px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    display: inline-block;
  }
  
  .header_ri {
    border: none;
    right: -10px;
    display: inline-block;
    width: 366px;
    height: 180px;
  }
  
  .shtrih {
    border-left: none;
    left: 0;
    top: 60px;
    width: 90px;
    height: 597px;
  }
  
  .exporter {
    height: 162px;
    width: 510px;
    left: 90px;
    top: 60px;
    border-left: 0;
  }
  
  .declaration {
    width: 192px;
    height: 90px;
    left: 600px;
    top: 45px;
  }
  
  .form {
    width: 103px;
    height: 45px;
    left: 600px;
    top: 136px;
  }
  
  .form > .num1 {
    font-size: 15px;
    padding-top: 2px;
    text-align: center;
    border: none;
    width: 50%;
    height: 51%;
    position: absolute;
    left: -10px;
    top: 15px;
  }
  
  .form > .num2 {
    padding-top: 2px;
    text-align: center;
    border-left: 1px solid;
    width: 48%;
    height: 50%;
    position: absolute;
    left: 43px;
    top: 15px;
    font-size: 15px;
  }
  
  .otpr {
    border-left: none;
    width: 90px;
    height: 45px;
    left: 703px;
    top: 136px;
  }
  
  .pod {
    width: 559px;
    height: 40px;
    left: 600px;
    top: 182px;
  }
  
  .pod_1 {
    font-size: 12.5px;
    padding: 2px;
    margin: 0;
    position: absolute;
    border-right: 1px solid;
    top: 0;
    left: 0;
    height: 37px;
    width: 99px;
  }
  
  .pod_2 {
  
    margin: 0;
    position: absolute;
    border: 1px solid;
    top: 0;
    left: 110px;
    width: 178px;
  }
  
  .pod_3 {
    /*padding: 4px;*/
    margin: 0;
    position: absolute;
    top: 0;
    left: 108px;
    height: 37px;
    width: 177px;
  }
  
  .pod_2 {
    margin: 0;
    position: absolute;
    border: none;
    border-left: 1px solid;
    top: 0;
    left: 288px;
    height: 40px;
    width: 280px;
  }
  
  .polu {
    height: 150px;
    width: 508px;
    top: 223px;
    left: 91px;
    border-left: none;
    border-right: none;
  }
  
  .polu_2 {
    height: 150px;
    width: 559px;
    top: 223px;
    left: 600px;
  }
  
  .strana {
    border-right: none;
    width: 509px;
    height: 90px;
    left: 91px;
    top: 374px;
    border-left: none;
  }
  
  .strana_2 {
    width: 559px;
    height: 90px;
    left: 600px;
    top: 374px;
  }
  
  .strana_2_1 {
    width: 100%;
    height: 50%;
    border: none;
  }
  
  .strana_2_1_1 {
    margin: 0;
    width: 50%;
    height: 100%;
    border: none;
  }
  
  .strana_2_1_2 {
    margin: 0;
    width: 50%;
    height: 100%;
    left: 50%;
    border: none;
    border-left: 1px solid;
  }
  
  .strana_2_2 {
    top: 50%;
    width: 100%;
    height: 50%;
    border: none;
    border-top: 1px solid;
  }
  
  .idenf {
    border-top: none;
    border-left: none;
    border-right: none;
    top: 466px;
    left: 91px;
    width: 43.5%;
    height: 192px;
  }
  
  .idenf_ {
  
    left: 1.2px;
    width: 100%;
    height: 25%;
    border: none;
    border-bottom: 1px solid;
    border-right: 1px solid;
  }
  
  ._1_1 {
    width: 100%;
  }
  
  ._1_2 {
    border-top: none;
    top: 25%;
    width: 100%;
  }
  
  ._1_3 {
    top: 50%;
  }
  
  ._1_4 {
    top: 75%;
    border-bottom: none;
    border-bottom: 1px solid;
  }
  
  .idenf_2 {
    top: 466px;
    left: 599px;
    width: 48.3%;
    height: 192px;
    border: none;
  }
  
  ._2_3 {
    /*border: 1px solid;*/
    top: 50%;
    width: 100%;
    height: 50%;
  }
  
  .title_span {
    font-size: 12.5px;
    margin: 3px 0px 0px 6px;
    display: block;
  }
  
  .content_span {
    margin: 0 10px;
    font-weight: 500;
    font-size: 14.3px;
  }
  
  .pod_indef {
    position: absolute;
    right: 2px;
    top: -8px;
  }
  
  .avto1 {
    width: 57px;
    border-right: 1px solid;
    padding-bottom: 7px;
    height: 19px;
    position: absolute;
  }
  
  .avto2 {
    width: 363px;
    height: 25px;
    border-right: 1.5px dashed;
    padding-top: 2px;
    position: absolute;
    left: 80px;
    top: 15px;
  
  }
  
  .gruz_mest {
    width: 91px;
    height: 219px;
    top: 658px;
    border: none;
    border-right: 1px solid !important;
  }
  
  .markirovka {
    left: 91px;
    width: 660px;
    height: 216px;
    top: 660px;
    border-top: none;
    border-left: none;
  }
  
  .content_span_2 {
    margin: 0 10px;
    font-weight: 500;
    font-size: 15px;
  }
  
  .tovar {
    margin: 0;
    height: 49px;
    width: 108px;
    position: absolute;
    right: -1px;
    top: -2px;
    border: 1px solid;
    border-top: none;
    border-right: none;
  }
  
  .cod {
    height: 355px;
    width: 410px;
    top: 660px;
    left: 752px;
    border: none;
  }
  
  .cod_1 {
    width: 99.9%;
    height: 48px;
    top: -2px;
    left: -1px;
    border: none;
  }
  
  .cod_2 {
    border-right: none;
    border-left: none;
    top: 48px;
    width: 99.9%;
    height: 48px;
  }
  
  .cod_3 {
    border: none;
    top: 98px;
    left: -1px;
    width: 99.9%;
    height: 48px;
  }
  
  .img {
    position: absolute;
    top: 30px;
    left: 5px;
    transform: rotate(-0.5deg);
    z-index: -10;
    width: 80px;
  }
  
  .cod_1_span_1 {
    border: none;
    border-right: 1px solid;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 104%;
  }
  
  .cod_1_span_2 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 33%;
    width: 148px;
    /*border: none;*/
    border-right: 1px solid !important;
    height: 100%;
  }
  
  .cod_1_span_3 {
    margin: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 66%;
    width: 31.6%;
  }
  
  .col_4 {
    top: 147px;
    width: 100%;
    height: 60px;
    border: none;
    border-top: 1px solid;
  }
  
  .col_5 {
    top: 209px;
    width: 100%;
    height: 60px;
    border: none;
    border-top: 1px solid;
  }
  
  .col_5_1 {
    border: none;
    border-bottom: 1px solid !important;
    border-left: 1px solid !important;
    left: -1px;
    width: 40%;
    height: 98%;
  }
  
  .col_5_2 {
    border: none;
    border-left: 1px solid;
    left: 39.6%;
    width: 60%;
    height: 100%;
  }
  
  .col_6 {
    width: 99.9%;
    height: 84px;
    top: 60px;
    left: -1px;
    border: none;
  }
  
  .col_6_1 {
    top: 48px;
    left: 1px;
    width: 39.3%;
    height: 44.1%;
    border-top: 1px dashed;
    border-bottom: none;
    border-right: 1px solid;
    border-left: 1px dashed;
  
  }
  
  .col_6_2 {
    top: -1px;
    left: 40.1%;
    width: 60%;
    height: 100.3%;
    border: none;
    border-top: 1px solid;
  }
  
  .dop_in {
    width: 90px;
    height: 138px;
    top: 876px;
    border: none;
    border-top: 1px solid;
  }
  
  .dop_in_1 {
    left: 91px;
    width: 660px;
    height: 138px;
    top: 877px;
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
  
  .gruzki {
    width: 90px;
    height: 138px;
    top: 1016px;
    border: none;
    border-top: 1px solid;
  }
  
  .local {
    width: 1069px;
    height: 138px;
    top: 1016px;
    left: 90px;
  
  }
  
  .local > div > div {
    font-size: 13px;
  }
  
  .local_1 {
    border: none;
    width: 49.8%;
    height: 99.5%;
  }
  
  .local_2 {
    border: none !important;
  
    border-left: 1px solid;
    left: 50%;
    width: 49.5%;
    height: 100%;
  }
  
  .local_1_1 {
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    height: 25%;
    width: 99.5%;
  }
  
  .local_1_2 {
    border: none;
    border-bottom: 1px solid;
    top: 25%;
    height: 25%;
    width: 100%;
  }
  
  .local_1_3 {
    border: none;
    border-bottom: 1px solid;
    top: 50%;
    height: 25%;
    width: 100%;
  }
  
  .local_1_4 {
    border: none;
    top: 75%;
    height: 25%;
    width: 100%;
  }
  
  .local_2_1 {
    border: none;
    border-bottom: 1px solid;
    height: 24.8%;
    width: 100%;
  }
  
  .local_2_2 {
    border: none;
    border-bottom: 1px solid;
    border-left: 1px solid;
    top: 25%;
    height: 25%;
    width: 100%;
  }
  
  .local_2_3 {
    border: none;
    border-bottom: 1px solid;
    border-left: 1px solid;
    top: 50%;
    height: 25%;
    width: 100%;
  }
  
  .local_2_4 {
    border: none;
    border-bottom: 1px solid;
    border-left: 1px solid;
    left: 0;
    top: 75%;
    height: 25%;
    width: 99.6%;
  }
  
  .local_1 > div {
    padding-left: 5px;
  }
  
  .local_2 > div {
    padding-left: 5px;
  }
  
  .podver_title {
    width: 90px;
    height: 120px;
    top: 1155px;
    border: none;
    border-top: 1px solid;
  }
  
  .podver_1 {
    top: 1155px;
    left: 91px;
    width: 539px;
    height: 120px;
  }
  
  .podver_2 {
    top: 1155px;
    left: 631px;
    border-right: none;
    width: 530px;
    height: 120px;
  }
  
  .tite_span_3 {
    font-size: 13px;
  }
  
  .global {
    border: none;
    left: -1px;
    height: 150px;
    width: 100%;
    top: 1276px
  }
  
  .global_head {
    width: 90px;
    height: 100%;
  }
  
  .global_prins {
    left: 91px;
    width: 750px;
    height: 100%;
  }
  
  pre {
    margin-bottom: 10px !important;
  }
  
  .global_organ {
    left: 842px;
    width: 318px;
    height: 100%;
  }
  
  .global_organ .content_span {
    display: block;
  }
  
  .garanty {
    border: none;
    width: 100%;
    height: 48px;
    top: 1428px;
    left: -1px;
  }
  
  .garanty_title {
    top: -1px;
    width: 90px;
    height: 100%;
    border-bottom: none;
  }
  
  .garnaty_1 {
    height: 100%;
    left: 91px;
    width: 750px;
    border-top: none;
    border-bottom: none;
  }
  
  .garnaty_2 {
    left: 842px;
    width: 318px;
    height: 100%;
    border-top: none;
    border-bottom: none;
  }
  
  .otmetki {
    left: -1px;
    width: 100%;
    height: 222px;
    top: 1477px;
    border: none;
    border-top: 1px solid;
  }
  
  .otmetki_1 {
    border: none;
    border-right: 1px solid;
    width: 456px;
    height: 75%;
  }
  
  .otmetki_2 {
    border: none;
    border-right: 1px solid;
    left: 457px;
    width: 318px;
    height: 75%;
  }
  
  .otmetki_3 {
    border: none;
    left: 775px;
    width: 394px;
    height: 75%;
  }
  
  .otmetki span {
    display: inline-block;
  }
  
  .otmetki_3 span {
    margin-top: 10px;
    display: block;
  }
  
  .tt {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
  
    left: -15px;
    bottom: -7px;
    padding: 25px 0px 6px 25px;
    width: 25%;
    height: 22%;
    border-right: 1px solid;
  }
  
  .tp {
    font-weight: 500;
    font-size: 16px;
    border-left: 1px solid;
    position: absolute;
    bottom: -8px;
    right: 16px;
    padding: 25px 0 6px 10px;
    width: 25%;
    height: 22.5%;
  }
  
  .hell *, ::before, ::after {
    box-sizing: border-box !important;
  }
  





  .gl {
    position: relative !important;
    width: 1169px;
    margin-left: 35px;
    height: 1206px;
    margin-bottom: 30px;
  }
  
  @media print {
    .gl {
      margin-top: 50px;
      margin-bottom: 1370px;
    }
  }
  
  .cm {
    height: 117px;
    width: 520px;
    left: 90px;
    border-right: none;
  }
  
  #root {
    border: none;
  }
  
  .decloration-1 {
    width: 180px;
    height: 142px;
    left: 611px;
    top: -1px;
  }
  
  .tt2 {
    width: 100%;
    height: 80px;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  
  .tp2 {
    width: 40px;
    height: 55px;
    top: 25px;
    left: 30%;
    border-top: none;
  }
  
  .form-3 {
    width: 49px;
    height: 40px;
    top: 102px;
    border-top: none;
    border-left: none;
  }
  
  .form-3-2 {
    width: 43px;
    height: 61px;
    top: 80px;
    left: 95px;
  }
  
  .A {
    height: 142px;
    width: 376px;
    left: 792px;
    top: -1px;
  }
  
  .n-a3 {
    position: relative;
    top: 855px;
    left: 0;
    border: none;
  }
  
  .n-a2 {
    position: relative;
    top: 499px;
    left: 0;
    border: none;
  }
  
  .n-a {
    position: relative;
    top: 143px;
    left: 0;
    border: none;
  }
  
  .gruz_mest2 {
    width: 90px;
    height: 217px;
    top: -2px;
    border-left: none;
  }
  
  .markirovka2 {
    left: 90px;
    width: 660px;
    height: 216px;
    top: 0;
    border-top: none;
  }
  
  .content_span_2 {
    margin: 0 10px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .tovar2 {
    margin: 0;
    height: 51px;
    width: 89px;
    position: absolute;
    right: -1px;
    top: -1px;
    border: 1px solid;
    border-top: none;
  }
  
  .cod2 {
    height: 354px;
    width: 417px;
    top: 2px;
    left: 752px;
    border-top: none;
    border-bottom: none;
    border-left: none;
  }
  
  .cod_12 {
    width: 99.9%;
    height: 50px;
    top: -2px;
    left: -1px;
    border-top: none;
  }
  
  .cod_22 {
    top: 48px;
    left: -1px;
    width: 99.9%;
    height: 48px;
  }
  
  .cod_32 {
    top: 99px;
    left: -1px;
    width: 99.9%;
    height: 48px;
    border-top: none;
  }
  
  .cod_1_span_12 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    border-right: 1px solid;
    height: 100%;
  }
  
  .cod_1_span_22 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 33%;
    width: 33%;
    border-right: 1px solid;
    height: 100%;
  }
  
  .cod_lin {
    border-left: 1px solid;
    border-right: 1px solid;
    height: 30px;
    width: 60px;
    left: 185px;
    position: absolute;
    top: 14px;
  }
  
  .cod_lin2 {
    border-left: 1px solid;
    height: 39px;
    width: 50px;
    left: 300px;
    position: absolute;
    top: 5px;
  }
  
  .cod_lin3_0 {
    border-left: 1px solid;
    height: 33px;
    width: 50px;
    left: 131.5px;
    position: absolute;
    top: 12px;
  }
  
  .lin_3_1 {
    border-left: 1px solid;
    height: 30px;
    left: 50px;
    position: absolute;
    top: -10px;
  }
  
  .lin_3_2 {
    border-left: 1px solid;
    height: 25px;
    left: 90px;
    position: absolute;
    top: 17px;
  }
  
  .lin_3 {
    border-left: 1px solid;
    border-right: 1px solid;
    height: 25px;
    width: 80px;
    left: 10px;
    position: absolute;
    top: 17px;
  }
  
  .cod_1_span_32 {
    height: 30px;
    width: 50px;
    left: 132px;
    position: absolute;
    top: 13px;
  }
  
  .col_42 {
    left: -1px;
    top: 147px;
    width: 100%;
    height: 56px;
    border: 1px solid;
  }
  
  .col_52 {
    left: -1px;
    top: 209px;
    width: 100%;
    height: 60px;
    border: 1px solid;
    border: none;
  }
  
  .col_5_12 {
    width: 166px;
    height: 100%;
    border-bottom: none;
    top: -5px;
    border-top: none;
  }
  
  .col_5_22 {
    border: none;
    border-left: 1px solid;
    left: 40%;
    width: 60%;
    height: 102%;
    top: -5px;
  }
  
  .col_62 {
    width: 419px;
    height: 86px;
    top: 55px;
    left: -1px;
    border-left: none;
  }
  
  .col_6_12 {
    top: -1px;
    left: -1px;
    width: 40%;
    height: 100%;
    border: 1px solid;
    border-left: none;
  }
  
  .niz_44 {
    width: 167px;
    border-top: 1px dashed;
    border-left: 1px dashed;
    height: 43px;
    top: 42px;
  }
  
  .col_6_22 {
    top: -1px;
    left: 40%;
    width: 251px;
    height: 42px;
    border: 1px solid;
    border-left: none;
  }
  
  .dop_in2 {
    width: 90px;
    height: 137px;
    top: 217px;
    left: -1px;
    border-bottom: none;
  }
  
  .dop_in_12 {
    left: 90px;
    width: 661px;
    height: 136px;
    top: 217px;
    border-right: none;
    border-top: none;
  }
  
  .number-tov {
    position: absolute;
    left: 40px;
    top: 25px;
    padding-left: 1px;
    border-left: 1px solid;
  }
  
  .tite_span {
    font-size: 12.5px;
  }
  
  .podpis {
    position: absolute;
    top: 183px;
  }

  